* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero_section {
  background: #0f99ff;
  padding: 0 60px;
  color: #fff;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 820px;
}

.column_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column_left h1 {
  font-size: 60px;
}

.column_left p {
  font-size: 16px;
  line-height: 2.3;
}

.column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_img {
  width: 50%;
}

/* About Section */
.main_section {
  padding: 60px 60px;
  background: #0f99ff;
  color: #fff;
}

.main_container {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
}

.main_container h1 {
  font-size: 110px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.main_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
}

.main_text {
  padding-right: 20px;
}

.main_text h2 {
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.main_text p {
  line-height: 2.3;
}

.main_img {
  display: flex;
  justify-content: center;
}

.main_img img {
  width: 420px;
  height: 610px;
}

/* Services CSS */
.servives {
  background-color: #0f99ff;
  color: #fff;
  position: relative;
}

.services_container {
  background: #909090;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.services_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 700px;
}

.services_container h1 {
  font-size: 50px;
}

.services_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 50px;
}
.servives_content {
  display: flex;
  align-items: flex-end;
}

.services_content img {
  margin-right: 50px;
}

.services_desc h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services_desc p {
  line-height: 2;
}

.laptop {
  height: 760px;
  width: 100%;
}

.contact_bar {
  position: absolute;
  background: #000d66;
  height: 80px;
  padding: -40px;
  right: 0;
  width: 80%;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact_bar img {
  margin: 0 40px;
}

.contact_bar p {
  margin-right: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Portfolio CSS */
.portfolio {
  background-color: #0f99ff;
  color: #fff;
}

.portfolio_container {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.portfolio_container h1 {
  font-size: 110px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.portfolio_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio_img {
  height: 100%;
}

.portfolio_right {
  padding: 150px 100px 0 20px;
}

.portfolio_right h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

.portfolio_right p {
  margin-bottom: 50px;
  line-height: 2.5;
}

.portfolio_right a {
  text-decoration: none;
  color: #fff;
}

.portfolio_projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 32px 64px;
  max-block-size: 10%;
  max-block-size: 10%;
}

.portfolio_projects img {
  height: 100px;
}
.portfolio_card {
  width: 30%;
}

.contact_bar {
  background: #c0c0c0;
  height: 80px;
  width: 68%;
  color: #0f99ff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact_bar img {
  margin-right: 40px;
  height: 100%;
}

.contact_bar p {
  margin-right: 40px;
  font-weight: 700;
}

.contact_bar span {
  margin-right: 40px;
}

.contact h1 {
  margin-left: 100px;
  font-size: 40px;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #0f99ff;
  color: #fff;
}

.footer_container {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer_left {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.footer_left p {
  line-height: 2;
}

.footer_right {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.footer_right a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
