* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  max-width: 1300px;
  margin: 0 auto;
}

html {
  background-color: #0f99ff;
}

.column_left h3 {
  font-size: 40px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.column_left p {
  font-size: 18px;
  line-height: 2.3;
}

.column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  margin-left: 100px;
  font-size: 40px;
  color: #fff;
}

.contact_bar {
  position: absolute;
  background: #000d66;
  height: 80px;
  padding: -40px;
  right: 0;
  width: 80%;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact_bar {
  background: #c0c0c0;
  height: 80px;
  width: 68%;
  color: #0f99ff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact_bar img {
  margin-right: 40px;
  height: 100%;
}

.contact_bar p {
  margin-right: 40px;
  font-weight: 700;
}

.contact_bar span {
  margin-right: 40px;
}

.contact_bar img {
  margin: 0 40px;
}

.contact_bar p {
  margin-right: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero_section {
  background: #0f99ff;
  color: #fff;
  padding: 100px 0px;
}

.hero_img {
  width: 100%;
}
.hero_wrapper {
  display: flex;
}

/* About Section */
.main_container {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
}

.main_container h1 {
  font-size: 110px;
  line-height: 110px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.main_content {
  display: flex;
  flex-direction: row;
}

.main_img {
  width: 600px;
}

.main_section {
  padding: 60px 60px;
  background: #0f99ff;
  color: #fff;
}

.main_text {
  padding-right: 20px;
}

.main_text h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 32px;
  font-style: italic;
  font-weight: 100;
}

.main_text p {
  line-height: 2.3;
}

/* Services CSS */
.services {
  background-color: #0f99ff;
  color: #fff;
  position: relative;
}

.services_container {
  background: #909090;
  padding-top: 50px;
  padding-bottom: 50px;
}

.services_container h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.services_content {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
}

.services_content img {
  margin-right: 50px;
  width: 100px;
  height: fit-content;
}

.services_desc h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services_desc p {
  line-height: 2;
}

.services_grid {
  display: flex;
}

.services_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 50px;
}

.laptop {
  height: 760px;
  width: 100%;
}

/* Portfolio CSS */
.portfolio {
  background-color: #0f99ff;
  color: #fff;
}

.portfolio_container {
  padding: 50px;
}

.portfolio_container h1 {
  font-size: 110px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.portfolio_main {
  display: grid;
}

.portfolio_img img {
  width: calc(100%);
}
.portfolio_projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0px;
}

.portfolio_projects img {
  width: 100%;
  margin-bottom: 20px;
}
.portfolio_card {
  width: 30%;
}
.portfolio_card p {
  margin-bottom: 50px;
}

/* Footer */
.footer {
  background-color: #0f99ff;
  color: #fff;
}

.footer_container {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer_left {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.footer_left p {
  line-height: 2;
}

.footer_right {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.footer_right a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 980px) {
  .main_content {
    flex-direction: column;
  }
  .main_img {
    width: calc(100%);
  }

  .services_content {
    flex-direction: column;
  }
  .services_content img {
    margin-bottom: 25px;
  }

  .portfolio_projects {
    flex-direction: column;
  }

  .portfolio_card {
    width: 100%;
  }

  .portfolio_container h1 {
    font-size: 50px;
  }

  .main_container h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .column_left h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
